@import '../../styles/default';

$border-color: #dfe5ec;

.root {
  button {
    height: 50px;
    width: 168px;
    outline: none;
    border: 1px solid $border-color;
    background-color: $white_color;
    text-transform: uppercase;
    font-family: $font_default;
    font-weight: 600;
    font-size: 12px;
    color: #4A4A4A;

    &:focus {
      background-color: $primary_color;
      border: none;
      color: $white_color;
    }
  }
  .left {
    border-radius: 5px 0 0 5px;
  }
  .right {
    border-radius: 0 5px 5px 0;
  }
}
