@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$main_color: #F3F7FA;
$white_color: #ffffff;
$primary_color: #2196f3;
$transparent_primary_color: #9ABBCE;

$font_default: 'Open Sans';

%font_default_settings {
  font-family: $font_default;
  font-weight: 600;
}
