@import '../styles/default';

.root {
  background-color: $main_color;
  width: 100%;
  min-height: 100%;

  display: grid;
  grid-template-areas:
    'header header header header'
    'leftStub filter_card sort_section rightStub'
    'leftStub filter_card cards rightStub'
    'footer footer footer footer';
  grid-template-rows: 160px 50px 1fr 80px;
  grid-template-columns: 1fr 232px 502px 1fr;
  grid-gap: 20px;

  .header {
    grid-area: header;
    align-self: center;
    justify-self: center;
  }

  .filter_card {
    grid-area: filter_card;
  }

  .sort_section {
    grid-area: sort_section;
  }

  .cards {
    grid-area: cards;
  }

  .footer {
    grid-area: footer;
  }

  .leftStub {
    grid-area: leftStub;
  }

  .rightStub {
    grid-area: rightStub;
  }

  img {
    width: 80px;
    height: 80px;
    margin-top: 48px;
  }
}
